html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

h1, h2, h3 { 
    font-family:'Playfair Display', serif; }

    h3 { font-size: 3rem;}

.nav-principal {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

h1 span {
    color: #037bc0;
}

h1 {
    text-align: center;
    padding: 50px 0;
}

.hero {
    background-image: url(../img/principal.jpg);
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;

}

.contenedor-navegacion {
    border-top: 1px solid #e1e1e1;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.listado-categorias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

img {
    max-width: 100%;
    display: block;
}

.contenedor h2 {
    text-align: center;
}

.categoria a {
    text-align: center;
    display: block;
    padding: 20px;
    font-size: 20px;
}

.categoria a:hover {
    background-color: #037bc0;
    color: #fff;
    border-bottom-left-radius: 10px;

}


.contenido-principal {
    padding-top: 2rem;
}

.producto {
    background-color: #037bc0;
}

.texto-producto {
    text-align: center;
    color: #fff;
}

.texto-producto .precio {
    font-size: 2.8rem;
    font-weight: 900;
}

.texto-producto h3 {
    margin: 0;
}

.texto-producto {
    margin: 0 0 0.5rem 0;
}


.btn {
    display: block;
    background-color: #8cbc00;
    text-transform: uppercase;
    transition: backgroung-color 0.3s ease-out;
    font-weight: 900;
    padding: 1rem;
}

/* Bloque: Sobre Nosotros   */


.sobre-nosotros {
    
    background-image: linear-gradient(to right, transparent 50%, #037bc0 50%, #037bc0 100%), url(../img/nosotros.jpg);
    background-position: left center;
    padding: 10rem 0;
    background-repeat: no-repeat;
    background-size: 100%, 120rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    color: #fff;
    
}

.sobre-nosotros-grid {
  padding: 10rem;
      grid-column: 2/3;
  
}

/*    */

/*    */

/*    */

/*    */



.texto-producto a {
    background-color: #8cbc00;
    display: block;
    text-transform: uppercase;
    font-weight: 900;
    padding: 1rem;
}

.texto-producto a:hover {
    background-color: #769c02;
    color: #fff
}


.contenido-principal {
    padding-top: 2rem;
}

.producto {
    background-color: #037bc0;
}

.texto-producto {
    text-align: center;
    color: #fff;
}

.texto-producto .precio {
    font-size: 2.8rem;
    font-weight: 900;
}

.texto-producto h3 {
    margin: 0;
}

.texto-producto {
    margin: 0 0 0.5rem 0;
}